
@{
    ViewBag.Title = "Index";
}

<p>
    <a class="btn btn-default" href="@Url.Action("CreateUser")">Add user</a>
</p>

<div class="row">
    <table id="usersTable" class="table table-stripped table-bordered">
        <thead>
            <tr>
                <td>Id</td>
                <td>First name</td>
                <td>Last name</td>
                <td>Role</td>
                <td>Email</td>
                <td>Phone</td>
                <td>IsActive</td>
                <td></td>
            </tr>
        </thead>
    </table>
</div>

@section scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/bootbox")

<script>
        $(document).ready(function () {

            var usersTable = $('#usersTable').DataTable({
                processing: true,
                serverSide: true,
                rowId: 'Id',
                ajax: {
                    url: "@Url.Action("FindUsersAjax")",
                    method: "POST",
                    error: function (response) {
                        bootbox.alert('Error loading data!');
                    }
                },
                columns: [
                    { data: "Id" },
                    { data: "FirstName" },
                    { data: "LastName" },
                    { data: "Role" },
                    { data: "Email" },
                    { data: "Phone" },
                    { data: "IsActive" },
                    {
                        "data": "Id",
                        "render": function (data, type, row, meta) {
                            if (type === 'display') {
                                return $('<span>')
                                    .append($("<a class='btn btn-info btn-xs glyphicon glyphicon glyphicon-info-sign details-user'>")
                                            .attr('href', '@Url.RouteUrl(new { action = "DetailsUser" })' + '?id=' + data))
                                    .append(" ")
                                    .append($("<a class='btn btn-primary btn-xs glyphicon glyphicon-pencil edit-user'>")
                                            .attr('href', '@Url.RouteUrl(new { action = "EditUser" })' + '?id=' + data))
                                    .html();
                            }
                            else {
                                return data;
                            }
                        },
                        orderable: false,
                        searchable: false
                    }
                ],
                select: true,
            });
        });
</script>
}
