@model ZergRushCo.Todosya.Domain.TaskContext.Commands.CreateProjectCommand
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = "projects";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Project", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new project.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label required" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Color, new { @class = "col-md-2 control-label required" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Color, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Create" />
        </div>
    </div>
}

@section scripts
{
    <script>
        require(['jquery', 'tinyColorPicker'], function ($) {
            $('input[name=Color]').colorPicker({
                opacity: false
            });
        });
    </script>
}
