@using Saritasa.BoringWarehouse.Web.Core
@using Saritasa.BoringWarehouse.Domain.Users.Entities;
@{
    ViewBag.Title = "Products list";
}

<p>
    <a class="btn btn-default" href="@Url.Action("Create")">Add product</a>
</p>

<div class="container">
    <table id="productsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Quantity</td>
                <td>Sku</td>
                <td>Company</td>
                @if (User.IsInRoles(UserRole.Admin, UserRole.Manager))
                {
                <td></td>
                }
            </tr>
        </thead>
    </table>
</div>

@section scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/bootbox")

    <script>
        $(document).ready(function () {

            var productsTable = $('#productsTable').DataTable({
                processing: true,
                serverSide: true,
                rowId: 'Id',
                ajax: {
                    url: "@Url.Action("FindProductsAjax")",
                    method: "POST",
                    error: function (response) {
                        bootbox.alert('Error loading data!');
                    }
                },
                columns: [
                    { data: "Id" },
                    { data: "Name" },
                    { data: "Quantity" },
                    { data: "Sku" },
                    { data: "Company.Name", defaultContent: ""},
@if (User.IsInRoles(UserRole.Admin, UserRole.Manager))
{
    <text>
                    {
                        "data": "Id",
                        "render": function (data, type, row, meta) {
                            if (type === 'display') {
                                return $('<span>')
                                    .append($("<a role='button' class='btn btn-info btn-xs glyphicon glyphicon-info-sign details-product'>")
                                            .attr('href', '@Url.RouteUrl(new { action = "Details" })' + '?id=' + data))
                                    .append(" ")
                                    .append($("<a role='button' class='btn btn-primary btn-xs glyphicon glyphicon-pencil edit-product'>")
                                            .attr('href', '@Url.RouteUrl(new { action = "Edit" })' + '?id=' + data))
                                    .append(" ")
                                    .append($("<a role='button' class='btn btn-danger btn-xs glyphicon glyphicon-remove delete-product' href='#'>"))
                                    .html();
                            }
                            else {
                                return data;
                            }
                        },
                        orderable: false,
                        searchable: false
                    }
    </text>
}
                ],
                select: true,
            });

            $('#productsTable').on("click", "a.delete-product", function () {
                var productId = $(this).closest('tr').attr('id');
                bootbox.confirm("Are you sure?", function (result) {
                    if (!result) {
                        return;
                    }
                    $.post("@Url.Action("DeleteAjax")", { id: productId }, function () {
                        productsTable.row("#" + productId).remove().draw(false);
                    });
                });
            });
        });
    </script>
}
